body{
  
  background-color: #28b131;
  font-family: 'Courier New', Courier, monospace;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 10px;
}

.card {
  background-color: #ffffff; 
  border-radius: 5px;
  padding: 15px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}
 .card:hover {
  transform: scale(1.02);
}

.show-title {
  font-weight: bold;
  margin-bottom: 8px;
  font-family: 'Courier New', Courier, monospace;
}
h1{
  color:#ffffff
}
